<ion-header>
 <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <span *ngFor="let contact of contactlist" >
      <ion-item *ngIf="contact.displayName">
          {{contact.displayName}} = {{contact.phoneNumbers[0].value}}
      </ion-item>
    </span>
  </ion-list>
</ion-content>