<ion-header>
  <ion-navbar>
    <ion-title>Event List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">

  <ion-card>

    <img src="assets/img/nin-live.png"/>

    <ion-card-content>
      <ion-card-title>
        Nine Inch Nails Live
      </ion-card-title>
      <p>
        The most popular industrial group ever, and largely responsible for bringing the music to a mass audience.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="secondary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='trash'></ion-icon>
          Delete
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="primary" icon-start>
          <ion-icon name='share'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="assets/img/badu-live.png"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        Erykah Badu
      </ion-card-title>
      <p>
      American singer-songwriter, record producer, activist, and actress, Badu's style is a prime example of neo-soul.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="secondary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='trash'></ion-icon>
          Delete
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="primary" icon-start>
          <ion-icon name='share'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="assets/img/queen-live.png"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        Queen
      </ion-card-title>
      <p>
        The British rock band formed in London in 1970, and is considered one of the biggest stadium rock bands in the world.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="secondary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='trash'></ion-icon>
          Delete
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="primary" icon-start>
          <ion-icon name='share'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>

    <div>
      <img src="assets/img/rundmc-live.png"/>
    </div>

    <ion-card-content>
      <ion-card-title>
        Run-D.M.C.
      </ion-card-title>
      <p>
        The American hip hop group widely acknowledged as one of the most influential acts in the history of hip hop.
      </p>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="secondary" icon-start>
          <ion-icon name="create"></ion-icon>
          Edit
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="danger" icon-start>
          <ion-icon name='trash'></ion-icon>
          Delete
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="primary" icon-start>
          <ion-icon name='share'></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>

<ion-fab right bottom class="addEventButton">
    <button ion-fab color="danger" (click)="openAddPage()"><ion-icon name="add"></ion-icon></button>
</ion-fab>