<!--
  Generated template for the AddEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
<ion-header>

  <ion-navbar>
    <ion-title center>AddEvent</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label fixed>Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

	<ion-item>
      <ion-label fixed>Information</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Image</ion-label>
      <ion-input type="file"></ion-input>
    </ion-item>



	<button block ion-button color="secondary" icon-start>
      <ion-icon name='people'></ion-icon>
      Friends
    </button>

    <ion-row center>
     <ion-col width-50></ion-col>
     <button ion-button color="default" outline><ion-icon name="add"></ion-icon></button>
     <ion-col width-50></ion-col>
  	</ion-row>

  </ion-list>

  <div padding>
    <button ion-button color="secondary" center>Validate</button>
  </div>


</ion-content>
-->
<ion-header>

  <ion-navbar>
    <ion-title center>AddEvent</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
      <ion-item>
      <ion-label fixed>Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

  <ion-item>
      <ion-label fixed>Information</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Image</ion-label>
      <ion-input type="file"></ion-input>
    </ion-item>

<div id="map_canvas" style="height:40%;"></div>

  <button block ion-button color="secondary" icon-start>
      <ion-icon name='people'></ion-icon>
      Friends
    </button>

    <ion-row center>
     <ion-col width-50></ion-col>
     <button ion-button color="default" outline><ion-icon name="add"></ion-icon></button>
     <ion-col width-50></ion-col>
    </ion-row>

</ion-content>


<script type="text/javascript">
var map;
document.addEventListener("deviceready", function() {
  var div = document.getElementById("map_canvas");

  // Initialize the map view
  map = plugin.google.maps.Map.getMap(div);

  // Wait until the map is ready status.
  map.addEventListener(plugin.google.maps.event.MAP_READY, onMapReady);
}, false);

function onMapReady() {
  var button = document.getElementById("button");
  button.addEventListener("click", onButtonClick);
}

function onButtonClick() {

  // Move to the position with animation
  map.animateCamera({
    target: {lat: 37.422359, lng: -122.084344},
    zoom: 17,
    tilt: 60,
    bearing: 140,
    duration: 5000
  }, function() {

    // Add a maker
    map.addMarker({
      position: {lat: 37.422359, lng: -122.084344},
      title: "Welecome to \n" +
             "Cordova GoogleMaps plugin for iOS and Android",
      snippet: "This plugin is awesome!",
      animation: plugin.google.maps.Animation.BOUNCE
    }, function(marker) {

      // Show the info window
      marker.showInfoWindow();

      // Catch the click event
      marker.on(plugin.google.maps.event.INFO_CLICK, function() {

        // To do something...
        alert("Hello world!");

      });
    });
  });
}
</script>
